<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dast.file.mapper.FileMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.dast.file.po.FilePo" id="fileMap">
        <result column="id" property="id"/>
        <result column="file_name" property="fileName"/>
        <result column="file_url" property="fileUrl"/>
        <result column="minio_name" property="minioName"/>
        <result column="file_type" property="fileType"/>
        <result column="file_size" property="fileSize"/>
        <result column="applid_id" property="applidId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_id" property="createId"/>
        <result column="create_name" property="createName"/>
        <result column="update_id" property="updateId"/>
        <result column="update_name" property="updateName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="ext_json" property="extJson"/>
    </resultMap>

    <sql id="BaseList">
     		     			id  ,      		file_size,     			file_name  ,      		     			file_url  ,      		     			minio_name  ,      		     			file_type  ,      		     			applid_id  ,      		     			tenant_id  ,      		     			del_flag  ,      		     			create_id  ,      		     			create_name  ,      		     			update_id  ,      		     			update_name  ,      		     			create_time  ,      		     			update_time  ,      		     			remark  ,      		     			ext_json      		 		 </sql>
    <sql id="BaseQueryList">
     		     			a.id  ,      	a.file_size,	     			a.file_name  ,      		     			a.file_url  ,      		     			a.minio_name  ,      		     			a.file_type  ,      		     			a.applid_id  ,      		     			a.tenant_id  ,      		     			a.del_flag  ,      		     			a.create_id  ,      		     			a.create_name  ,      		     			a.update_id  ,      		     			a.update_name  ,      		     			a.create_time  ,      		     			a.update_time  ,      		     			a.remark  ,      		     			a.ext_json      		 		 </sql>
    <sql id="BaseQuery">
        <if test="query.id!=null">
            and a.id = #{query.id}
        </if>
        <if test="query.fileName!=null and query.fileName!=''">
            and a.file_name = #{query.fileName}
        </if>
        <if test="query.fileUrl!=null and query.fileUrl!=''">
            and a.file_url = #{query.fileUrl}
        </if>
        <if test="query.minioName!=null and query.minioName!=''">
            and a.minio_name = #{query.minioName}
        </if>
        <if test="query.fileType!=null and query.fileType!=''">
            and a.file_type = #{query.fileType}
        </if>
        <if test="query.applidId!=null">
            and a.applid_id = #{query.applidId}
        </if>
        <if test="query.tenantId!=null">
            and a.tenant_id = #{query.tenantId}
        </if>
        <if test="query.createId!=null">
            and a.create_id = #{query.createId}
        </if>
        <if test="query.createName!=null and query.createName!=''">
            and a.create_name = #{query.createName}
        </if>
        <if test="query.updateId!=null">
            and a.update_id = #{query.updateId}
        </if>
        <if test="query.updateName!=null and query.updateName!=''">
            and a.update_name = #{query.updateName}
        </if>
        <if test="query.createTime!=null">
            and a.create_time = #{query.createTime}
        </if>
        <if test="query.updateTime!=null">
            and a.update_time = #{query.updateTime}
        </if>
        <if test="query.remark!=null and query.remark!=''">
            and a.remark = #{query.remark}
        </if>
        <if test="query.extJson!=null and query.extJson!=''">
            and a.ext_json = #{query.extJson}
        </if>
    </sql>
    <select id="queryPage" parameterType="com.dast.file.po.FilePo" resultType="com.dast.file.po.FilePo">
        select
        <include refid="BaseQueryList"/>
        from minio_file a where a.del_flag = 0
        <include refid="BaseQuery"/>
    </select>

    <update id="delFlag" parameterType="java.util.Map">
		update  minio_file set  del_flag = #{delFlag} where
						id = #{Idkey}
																																																	</update>

</mapper>
